.service__card{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: var(--transition);
    background: rgba(var(--color-primary-rgb),0.03);
    box-shadow: var(--border-shadow),
    0 0 30px rgba(var(--color-primary-rgb),0.03);
}

.service__card .service__card-top{
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
}

.service__card .ball{
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 0;
    right: 0;
    background: rgba(var(--color-primary-rgb),0.1);
    box-shadow: rgba(var(--color-primary-rgb),0.15) -10px 10px 20px 0px;
    transition: all 0.5s ease-in-out;
    color: var(--color-white);
    font-size: 1.5rem;
}

.service__card .ball1{
    width: 170px;
    transform: translate3d(0,0,20px);
    top:8px;
    right: 8px;
}

.service__card .ball2{
    width: 140px;
    transform: translate3d(0,0,60px);
    top: 17px;
    right: 17px;
    transition-delay: 0.4s;
}

.service__card .ball3{
    width: 110px;
    transform: translate3d(0,0,60px);
    top:17px;
    right: 17px;
    transition-delay: 0.4s;
}

.service__card .ball4{
    width: 80px;
    transform: translate3d(0,0,80px);
    top:23px;
    right: 23px;
    transition-delay: 1.2s;
}

.service__card .ball5{
    width: 50px;
    transform: translate3d(0,0,100px);
    top:30px;
    right: 30px;
    transition-delay: 1.6s;
}

.service__card .service__card-middle{
    flex: 1;
    padding: 110px 30px 30px 30px;
    transform: translate3d(0,0,26px);
}

.service__card .title{
    font-size: 25px;
    font-weight: 600; 
}

.service__card .discription{
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

.service__card .service__card-bottom{
    padding:30px;
    padding-bottom: 50px;
    transform-style: preserve-3d;
    transform: translate3d(0,0,26px);
}

.service__card .social__handles__container{
    transform-style: preserve-3d;
    gap: 0.5rem;
}

.service__card .social__handle{
    background: rgba(var(--color-primary-rgb),0.1);
    box-shadow: rgba(var(--color-primary-rgb),0.3) 0px 7px 5px -5px;
    color: var(--color-primary);
}

.service__card .social__handle:hover{
    color: var(--color-white);
}

.service__card .social__handle:first-child{
    transition: transform 0.2s ease-in-out 0.4s,box-shadow 0.2s ease-in-out 0.4s;
}

.service__card .social__handle:nth-child(2){
    transition: transform 0.2s ease-in-out 0.6s,box-shadow 0.2s ease-in-out 0.6s;
}

.service__card .social__handle:nth-child(3){
    transition: transform 0.2s ease-in-out 0.8s,box-shadow 0.2s ease-in-out 0.8s;
}

.service__card .social__handle:nth-child(4){
    transition: transform 0.2s ease-in-out 1s,box-shadow 0.2s ease-in-out 1s;
}

.service__card:hover{
    transform:rotate3d(1,1,0,30deg);
}

.service__card:hover .social__handle{
    transform: translate3d(0,0,50px);
    box-shadow: rgba(var(--color-primary-rgb),0.2) -5px 20px 10px 0px;
}

.service__card:hover .ball2{
    transform: translate3d(0,0,60px);
}

.service__card:hover .ball3{
    transform: translate3d(0,0,80px);
}

.service__card:hover .ball4{
    transform: translate3d(0,0,100px);
}

.service__card:hover .ball5{
    transform: translate3d(0,0,120px);
}